<div class="list-container">
  <ng-container *ngFor="let item of list">
    <div class="item">
      <div class="item-container-text">
          <span class="item-text bg"> 01</span>
          <span class="item-text sm"> Jozimar Stute Little Jr</span>
      </div>
      <div class="item-text ticket-count">
          <span class="material-symbols-outlined">
              confirmation_number
          </span>
          <span>4</span>
      </div>
      <div class="status-item">
          <span >Pago</span>
      </div>
      <span class="item-text sm">PIX/DINHEIRO</span>
      <span class="action-bt-text sm">Fechar conta</span>
  </div>
  </ng-container>
  
</div>