.search-container{
    display: flex;
    justify-content: space-between;
}

.search-container-filters-buttons{
    display: flex;
    color: #5E6B7A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 2rem;
    
}
.filter-button{
    cursor: pointer;
}

.search-container-input-search{
    display: flex;
    align-items: center;
    border-radius: 172px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    width: 312px;
    height: 40px;
    padding: 0.6rem;
    box-sizing: border-box;
}
.search-input{
    flex: 1;
    padding: 0.5rem;
    border: 0;
    outline: none;
}

