// cards
.cards-container {
    display: flex;
    gap: 2rem;
    margin-top: -5rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none; /* Para Webkit (Chrome, Safari) */
    }
  }
  